/*Contains styling for light html page.
For styling shared accross more than one page, go to main-styles*/

.nutrients {
  width:auto;
  height: auto;
  border: solid rgb(35, 81, 35);
  padding: 1em;
}
