/*Contains styling for community html page.
For styling shared accross more than one page, go to main-styles*/

#community {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
